#container {
    display: flex;           /* establish flex container */
    flex-direction: column;  /* make main axis vertical */
    align-items: center;     /* center items horizontally, in this case */
}

a{
  margin: 20px;
  color: inherit;
}

a:hover {
  color: inherit;
}

.piece {
  height:70vh;
}

.box {
    margin: 5px;
    text-align: center;
}

.row{
    text-align: center;
    justify-content: center;
}

.placard {
  background-color: rgba(245, 245, 245);
  padding: .5rem 2rem .5rem 2rem;
  -webkit-box-shadow: 1px 1px 3px 3px #ccc;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow:    1px 1px 3px 3px #ccc;  /* Firefox 3.5 - 3.6 */
  box-shadow:         1px 1px 3px 3px #ccc;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}

* {
  font-size: 1.1rem;
  font-family: "Helvetica", sans-serif;
}

p {
  margin: 0 0 .2rem 0;
}

.author{
  font-weight:bold;
}

.birth-year {
}

.title{
  font-style: italic;
  font-weight:bold;
}

.year{

}

.medium {
  font-size: .9rem;
  font-weight: lighter;
}

.quote{
  font-size: .7rem;
}
