<link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='bootstrap-grid.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">


<body>

	<div id="container">

		<div class="box row">
			<a href="https://bitbucket.org/trevorleake/"> Bitbucket </a>
			<a href="{{ url_for('static', filename='Resume -- Trevor Leake.pdf') }}"> Resume </a>
			<a href="https://github.com/TrevorLeake"> Github </a>
			<a href="https://www.shadertoy.com/profile/trevorleake"> Shadertoy </a>
		</div>


		<div class="piece box">
			<img style="height:100%;" src="{{ url_for('static', filename='technicolor-full-body-01.png') }}">
		</div>

    <div class="box placard">

			<div class="row">
				<p class="author">
					Trevor Leake&nbsp
				</p>
				<p class="birth-year">
					(b. 1993) </br>
				</p>
			</div>

			<div class="row">
				<p class="title">
					Trevor Drinks Coffee,&nbsp
				</p>
			  <p class="year">
					2018 </br>
				</p>
			</div>

			<p class="medium">
			  PCG SVG on browser. </br>
			</p>


		  </br>

			<p class="quote">
				"This is mostly just a space filler."
			</p>

    </div>

	</div>

</body>
